<div class="card">
  <img class="card-img-top imagem" src="{{this.image_url}}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text"><a href="/{{this.id}}"> {{this.description}}</a></p>
  </div>
</div>