/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(145, 145, 145, 0.481);
}

nav a {
  margin-left: 0.5em;
  text-decoration: none;
  color: #f7f9f9;
}

nav {
  background-color: #2081c3;
  display: flex;
  flex-direction: row;
  padding: 1.3em;
}

footer {
  background-color: #0a2c42;
  color: #f7f9f9;
  padding: 1em;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .index-container img {
  padding-top: 5em;
  margin: 0 auto;
  width: 400;
  height: 400;
} */

.imagem {
  width: 150px;
}

a.button {
  text-align: center;
  text-decoration: none;
  background-color: #2081c3;
  border: none;
  border-radius: 0.3em;
  color: white;
  font-size: 1em;
  padding: 0.5em;
  width: 8vw;
  margin: 0 auto;
  margin-top: 1.8em;
  margin-bottom: -1.2em;
}
